
h1{
    padding: 2rem;
    margin-left: 3rem;
    font-weight: bold;
    font-size: 15px;
}

.products
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
border: 1px #000000 solid;
margin: 1rem;
}
.product img{
    width: 100%;
    max-width: 350px;
}
.product_info
{
    padding: 2rem;
    font-size: 15px;
}
