/* 
     
    /* navbar style start  */

.main-nav {
  width: 100%;
  display: grid;
  background-color: #61c3e2;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}
.modal {
  display: flex;
  justify-content: center;
  transform: translateY(20rem);
}
.logo {
  display: grid;
  grid-column: 1/2;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2rem;
}

.s-icon {
  grid-column: 5/5;

  display: grid;
  grid-template-columns: 10fr;
  align-items: center;
}

.s-icon li {
  text-align: right;
}

.logo h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.logo h3 span {
  font-size: 3rem;
  font-style: normal;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.title {
  color: #2a4c68;
}
.logo1 {
  color: #f9e5a0;
}

.icon li {
  font-size: 3rem;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.cart {
  color: #ffffff;
  margin-right: 2rem;
}
.burger-menu {
  display: none;
}
.user {
  color: #ffffff;
  margin-left: 2rem;
}
@media only screen and (max-width: 900px) {
  .icon {
    display: none;
  }
  .logo {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
