.main-cart
{
   max-height:  299px;
    overflow-y: scroll;
    
   
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: #F9E5A0; 
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #61C3E2;
    -webkit-box-shadow: #F9E5A0; 
}
