.main_shoppingcartheader
{
   width: 100%;
   
border-radius: 9px;
  
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.shoppingcart-icon
{
    width: 28.5px;
    height: 26.67px;
    font-size: 30px;
    padding-left: 2px
}
.shoppingcart-title
{
   
width: 168px;
height: 24px;


font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 100%;

text-align: center;

color: #000000;
}
.no_item
{
 
 display: flex;
 
  position: absolute;
  width: 20px;
  height: 20px;
 margin-top: -0.5rem;
 margin-left: -1rem;
  border-radius: 60%;
  background: red;
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.items_count
{
  color:rgba(0, 0, 0, 0.5);
  font-size: 14px ;
  padding: 1rem;
}