.main-edit-form-container {
  background: #f9e5a0;
  border-radius: 32px;
  width: 80%;
  margin: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

input {
  width: 26rem;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
}

p {
  padding: 1rem;
}
.checkbox-filed {
  width: 21px;
  height: 15px;
  border-radius: 5px;
}
.main-checkbox-filed {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.select-tag {
  display: flex;
  flex-direction: column;
}

select {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  padding: 2rem;
}

.submit-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 255px;
  background-color: #2a4c68;
  border-radius: 15px;
  height: 40px;
  padding: 0.1rem;
}
