.user-form-container {
  background: #2a4c68;
  border-radius: 40px;
  padding: 2rem;
  color: #ffffff;
}
.name-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
.create-password {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.address-info {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.district-info {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.button-submit {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
label {
  padding: 1rem;
}
.show-pass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.checkbox-filed {
  width: 2rem !important;
}
