.mobile-menu-logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2rem;
}
.mobile-menu-icon {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
}

.main-burger-menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #61c3e2;
}
.first-title {
  font-size: 30px;
  color: #2a4c68;
}
.second-title {
  font-size: 25px;
  color: #f9e5a0;
}
.main-menu-humburger {
  background-color: white;
  right: 0;
  padding: 1rem;
  font-size: 30px;
  position: absolute;
  margin-top: 6.5rem;
}
.first-icn {
  color: #444545;
  font-size: 2rem;
}
.second-icn {
  color: #444545;
  font-size: 2rem;
}
.text-icon-cart {
  font-size: 3rem;
  padding: 1rem;
  color: #444545;
}
.text-main-icon-cart {
  font-size: 2rem;
  color: #444545;
}
hr {
  margin-top: 0.5rem;
  background-color: #444545;
}
